@media screen and (min-width: 37.5rem){
    /* Layout */
    .l-page{
        display:flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-slate-grey)
    }

    .l-max-w, .newsletter__success{
        max-width: 23.5rem;
    }

    /* Module */
    .newsletter__background-image-wrapper{
        height: 18rem;
    }

    .newsletter__background-image{
        aspect-ratio: auto;
        height: 100%;
    }

    .o-surface{
        border-radius: 0 0 2rem 2rem;
    }

    .attribution{
        padding-block-start: 2em;
        color: white;
    }

    .attribution a{
        color: tomato;
    }

}

@media screen and (min-width: 48rem) {
    /* Layout */
    .l-page{
        padding-block-start: 2rem;
    }

    /* Module */
    .o-surface{
        border-radius: 2rem;
    }

    .newsletter__background-image{
        border-start-start-radius: 2rem;
        border-start-end-radius: 2rem;
        overflow: hidden;
    }

}

@media screen and (min-width: 62rem) {
    /* Layout */
    .l-page{
        padding-block-start: 1rem;
    }

    .l-max-w{
        max-width: 59rem;
    }
    .l-h{
        height: 40rem;
    }
    
    .l-orientation{
        flex-direction: row-reverse;
        justify-content: center;
        margin-block-start: 3em;
    }

    /* Module */
    .c-newsletter{
        padding: 1.2em;
    }

    .u-p-layout{
        padding: 0 2rem;
    }

    .newsletter__background-image-wrapper{
        width: 50%;
        height: 100%
    }

    .newsletter__background-image{
        border-radius: 5%;
        background: url('../assets/images/illustration-sign-up-desktop.svg') no-repeat center center;
        background-size: cover;
    }

    .newsletter__content{
        margin: 0 2em 0 1em;
    }

    .title{
        font-size: 3.5rem;
    }

    .newsletter__success{
        max-width: 29.5rem;
        height: 32rem;
        align-self: center;
        padding: 3em;
        border-radius: 2em;
    }

    .success__title{
        margin: 0.5em 0;
    }

    .success__button{
        margin-block-start:2.5em;
        margin-block-end: 0;
    } 
}

@media screen and (min-width: 90rem){
    html{
        font-size: 106.25%;
    }
}

@media screen and (min-width: 100rem){
    html{
        font-size: 112.5%;
    }
}