@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --footer-height: 2rem;

    --tomato-pink:347, 100%, 66%;
    --tomato: 4, 100%, 67%;
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(240, 6%, 79%);
    --white: hsl(0, 0%, 100%);

    --font: "Roboto", sans-serif;
    --font-weight-bold: 700;
}

/* Base */
body{
    font-family: var(--font);
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--charcoal-grey);
}

/* Layout */
.layout--min-height{
    min-height: calc(100vh - var(--footer-height));
}

.layout--centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding--layout{
    padding: 0 1.5rem;
}


/* Module */
.newsletter__background-image{
    width: calc(100% + 3rem);
    height: 16rem;
    border-radius: 0 0 5% 5%;
    background: url('../assets/images/illustration-sign-up-mobile.svg') no-repeat center center;
    background-size: cover;
}

.newsletter__content{
    margin: 1em 0;
}

.title{
    font-size: 2.2rem;
    margin: 0.3em 0;
}

.text--bold{
    font-weight: var(--font-weight-bold);
    color: var(--dark-slate-grey)
}

.content__list{
    margin: 1.5em 0;
}

.list__item{
    display: flex;
    align-items: start;
    gap: 1.1em;
    margin: 0.7em 0;
}

.list__item::before {
    content: "";
    flex: 0 0 1.2rem; 
    height: 1.2rem;
    background-image: url('../assets/images/icon-list.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.content__form{
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    margin-top: 2em;
}

.form__label{
    font-size: 0.75rem;
    margin: 0.5em 0;
}

.form__input, .form__button{
    font-family: var(--font);
    font-size: 0.875rem;
}

.form__input{
    width: 100%;
    height: 3.5rem;
    padding-left: 1.25rem;
    border: 0.5px solid var(--grey);
    border-radius: 0.5em;
}

.form__button{
    margin: 1.5em 0;
}

.button{
    width: 100%;
    height: 3.5rem;
    border-style: none;
    border-width: 0.5px;
    border-radius: 0.5em;
}


.button--black{
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: var(--font-weight-bold);
}

.button:hover, button:focus{
    background: linear-gradient(to right, hsl(var(--tomato-pink)), hsl(var(--tomato)));
    box-shadow: 0 10px 15px hsla(var(--tomato), 0.3);
    cursor: pointer;
}

.newsletter__success{
    display: none !important;
}

.attribution { font-size: 0.7rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }