/* Base */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --tomato-pink:347, 100%, 66%;
    --tomato: 4, 100%, 67%;
    --error: 9, 81%, 51%;
    --error-bg: 4, 100%, 67%, 15%;
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(240, 6%, 79%);
    --white: hsl(0, 0%, 100%);

    --font: "Roboto", sans-serif;
    --font-weight-bold: 700;
}

/* Base */
body{
    font-family: var(--font);
    line-height: 1.5;
    color: var(--charcoal-grey);
}

/* Layout */
.o-surface{
    background-color: white;
}

.l-min-h-screen{
    min-height: 100vh
}

.l-max-w{
    max-width: 100vw;
    width: 100%
}

.l-orientation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.u-p-layout{
    padding: 0 1.5rem;
}

/* Module */

.newsletter__background-image-wrapper{
    width: 100%;
}

/* Module */
.newsletter__background-image{
    aspect-ratio: 13/10;
    width: 100%;
    border-radius: 0 0 5% 5%;
    background: url('../assets/images/illustration-sign-up-mobile.svg') no-repeat center center;
    background-size: cover;
}

.newsletter__content{
    margin: 1em 0;
}

.title{
    font-size: 2.5rem;
    margin: 0.3em 0;
}

.text--bold{
    font-weight: var(--font-weight-bold);
    color: var(--dark-slate-grey)
}

.content__list{
    margin: 1.5em 0;
}

.list__item{
    display: flex;
    align-items: start;
    gap: 1.1em;
    margin: 0.7em 0;
}

.list__item::before {
    content: "";
    flex: 0 0 1.2rem; 
    height: 1.2rem;
    background-image: url('../assets/images/icon-list.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.content__form{
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    margin-block-start: 2em;
}

.form__field{
    width: 100%;
}

.form__label-row{
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
}

.form__label, .error{
    font-size: 0.8rem;
}

.form__input, .form__button, .success__button{
    font-family: var(--font);
    font-size: 0.9rem;
}

.form__input{
    width: 100%;
    height: 3.5rem;
    padding-inline-start: 1.25rem;
    border: 0.5px solid var(--grey);
    border-radius: 0.5em;
}

.error{
    color: hsl(var(--error));
}

.form__button{
    margin: 1.5em 0;
}

.button{
    width: 100%;
    height: 3.5rem;
    border-style: none;
    border-width: 0.5px;
    border-radius: 0.5em;
}


.button--black{
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: var(--font-weight-bold);
}

.newsletter__success{
    display: none;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
    padding-block-start: 6em;
}

.success__icon{
    align-self: flex-start;
    margin-block-end: 0.5em;
}

.success__title{
    line-height: 1;
    margin: 0.7em 0;
}

.success__button{
    margin-block-start: auto;
    margin-block-end: 3em;
}

.attribution { font-size: 0.9rem; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }


/* State */

.is-success .c-newsletter{
    background-color: transparent;
}

.is-success .newsletter__background-image-wrapper{
    display: none;
}

.is-success .newsletter__content{
    display: none;
}

.is-success .newsletter__success{
    display: flex;
}

.form__input.is-error{
    background-color: hsla(var(--error-bg));
    border-color: hsl(var(--error));
    color: hsl(var(--error));
}

.form__input.is-error:focus{
    outline-color: hsl(var(--error));
}

.button:hover, button:focus{
    background: linear-gradient(to right, hsl(var(--tomato-pink)), hsl(var(--tomato)));
    box-shadow: 0 10px 15px hsla(var(--tomato), 0.3);
    cursor: pointer;
}